@mixin overflow-with-ios {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

nav {
    ul {
        padding-top: 5px;
    }
    li {
        > a.active {
            text-decoration: none;
            background-color: #eee;
        }
    }
    li:first-child .glyphicon {
        top: 4px;
    }
}

.slide-right {
    @include translate3d(100%, 0, 0);
}

.slide-left {
    @include translate3d(-100%, 0, 0);
}

$debt-color: #f2dede !default;
$credit-color: #337ab7 !default;

nav {
    .fa {
        border-radius: 50% 50%;
        border: 1px solid white;
        width: 1em;
        color: #ffffff;
    }
    .fa-arrow-left {
        width: 40px;
        height: 40px;
        padding: 5px;
        &:first-child {
            margin-right: 10%;
        }
        &:only-child {
            margin: 0;
        }
    }
}

#Dynamic .show {
    display: block !important;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}