<label class="dummyTitle Title">Transaction Summary</label>
<div class="dummyFriendsTransactions overflowArea"></div>
<nav class="navbar navbar-inverse navbar-fixed-bottom col-xs-12 col-sm-4 text-center" role="navigation">
	<div class="col-xs-offset-3 col-sm-offset-4 contain dummyNavContainer">
		<div class="col-xs-4">
			<i class="fa fa-plus fa-2x dummyNewTransaction"></i>
			<p class="nopadding white">New Transaction</p>
		</div>
		<div class="col-xs-4 visible-xs">
			<i class="fa fa-cog fa-2x dummyShowSetting"></i>
			<p class="nopadding white">Setting</p>
		</div>
	</div>
	<i class="fa fa-ellipsis-h fa-2x pull-right contextual dummyContextual"></i>
</nav>