<div class="dummyTransaction col-xs-12">
	<div class="dummyUserAction">
		<label class="dummyMainName Title"><%if(isNew){%>Add Transaction<%} else {%><%=model.name%><%}%></label>
		<form class="form dummyForm">
			<div class="form-group dummyInputGroup nopadding">
				<label class="sr-only" for="InputAmount">Enter the Amount</label>
				<div class="input-group col-xs-12">
					<input type="number" class="form-control dummyAmount" id="InputAmount" placeholder="Amount" value="<%=tempValue%>">
					<div class="input-group-addon dummyDebt cursor-pointer"><i class="fa fa-sign-out fa-1x"></i><p class="nopadding">Give</p></div>
					<div class="input-group-addon dummyCredit cursor-pointer"><i class="fa fa-sign-in fa-1x "></i><p class="nopadding">Get</p></div>
				</div>
			</div>
		</form>
	</div>
	<div class="dummyFriendList FriendList"></div>
</div>
<nav class="navbar navbar-inverse col-xs-12 text-center nopadding dummyNav" role="navigation">
	<div class="<%if(isNew){%>col-xs-offset-3 col-sm-offset-4<%} else {%>col-xs-offset-4 col-sm-offset-5<%}%> contain dummyNavContainer">
		<div class="col-xs-3">
			<i class="fa fa-arrow-left fa-2x dummyBack"></i>
			<p class="nopadding white">Back</p>
		</div>
		<%if(isNew){%>
			<div class="col-xs-3">
				<i class="fa fa-user-plus fa-2x dummyNewFriend"></i>
				<p class="nopadding white">Add Friend</p>
			</div>
		<%}%>
		<div class="col-xs-3">
			<i class="fa fa-cog fa-2x dummyShowSetting"></i>
			<p class="nopadding white">Setting</p>
		</div>
	</div>
	<i class="fa fa-ellipsis-h fa-2x pull-right contextual dummyContextual"></i>
</nav>
