#Friends {
    .friendList {
        margin-top: 5px;
        @include overflow-with-ios();
    }
}
#Left {
    .FriendsTransactions {
        height: inherit;   
        nav {
            padding-top: 4px;
            .fa-cog {
                width: 44px;
                height: 44px;
                margin-left: 10%;
                position: relative;
                top: 5px;
                &::before {
                    position: relative;
                    left: -2px;
                    top: -5px;
                }
            }
            div {
                &:last-child {
                    margin-left: 10%;
                }
            }
        }
        .FriendTransactions {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0px;
            }
            &:first-child {
                margin-top: 10px;
            }
            > div {
                padding: 1% 2%;
            }
            .debt {
                background-color: $debt-color;
            }
            .credit {
                background-color: $credit-color;
            }
            p {
                span{
                    position: relative;
                    top: -5px;
                    font-weight: bolder;
                }
            }
        }
    }
}