<ul class="animated bounceIn nopadding">
	<li class=" col-xs-12">
		<label class="col-xs-9 lead"><strong>Notification</strong></label>
		<div class="switch-wrapper pull-right">
			<input type="checkbox" class="dummyNotification" <%if(model.notification){%>checked<%}%>>
		</div>
	</li>
	<li class=" col-xs-12">
		<div class="list-group">
			<div class="list-group-item">
				<h4 class="list-group-item-heading lead"><strong>Change Background color</strong></h4>
				<%if(isBrowser) {%>
					<p class="list-group-item-text dummyPhotoLib lead underline upload"><strong>Upload from disk</strong></p>
				<%} else {%>
					<p class="list-group-item-text dummyPhotoLib lead underline upload"><strong>Upload from photo library</strong></p>
					<%if(supportsSavedLib) {%>
						<p class="list-group-item-text dummyPhotoAlbum lead underline upload"><strong>Upload from saved photo album</strong></p>
					<%}%>
				<%}%>
			</div>
		</div>
	</li>
</ul>
<nav class="navbar navbar-inverse col-xs-12 text-center nopadding dummyNav" role="navigation">
	<i class="fa fa-arrow-left fa-2x dummyBack"></i>
</nav>