.transaction {
    margin-top: 10px;
    min-height: inherit;
    max-height: inherit;
    .input-group-addon {
        width: 70px;
    }
    nav {
        position: absolute;
        bottom: 0;
        border-radius: 0;
        .fa-user-plus {
            padding: 5px;
            width: 1.5em;
        }
    }
    #InputAmount {
        //6+6+16+16
        height: 45px;
    }
    .FriendList {
        @include overflow-y-with-ios();
        .FriendTransaction {
            background-color: #fff;
            padding: 1% 2%;
            min-height: 35px;
            position: relative;
            margin-top: 20px;
            &.debt {
                background-color: $debt-color;
            }
            &.credit {
                background-color: $credit-color;
            }
            &.select {
                background-color: $brand-info;
                .fa-check {
                    display: inline-block !important;
                }
            }
            &.deleted {
                p {
                    text-decoration: line-through;
                }
            }
            p {
                margin: 0;
            }
            .fa-undo {
                margin-right: 0.5em;
            }
            .date {
                position: absolute;
                top: -15px;
                background-color: inherit;
                right: 0;
                padding: 0 1%;
                @include border-top-radius(5px);
            }
        }
    }
}
