.transaction {
    margin-top: 10px;
    min-height: inherit;
    max-height: inherit;
    nav {
        padding-top: 4px !important;
        position: absolute;
        bottom: 0;
        border-radius: 0;
        .fa-user-plus {
            padding: 5px;
            width: 1.5em;
        }
    }
    .mainName {
        background-color: $brand-warning;
        min-height: 50px;
        padding: 15px 5px;
        font-size: large;
    }
    #InputAmount {
        height: 45px;
        //6+6+16+16
    }
    .FriendList {
        overflow-x: hidden; 
        overflow-y: auto;
        .FriendTransaction {
            background-color: #FFF;
            padding: 1% 2%;
            min-height: 35px;
            position: relative;
            margin-top: 20px;
            &.debt {
                background-color: $debt-color;
            }
            &.credit {
                background-color: $credit-color;
            }
            &.select {
                background-color: $brand-info;
                .fa-check {
                    display: inline-block !important;
                }
            }
            &.deleted {
                p {
                    text-decoration: line-through;
                }
            }
            p {
                margin: 0;
                span {
                    vertical-align: sub;
                    font-size: 20px;
                }
            }
            .date {
                position: absolute;
                top: -15px;
                background-color: inherit;
                right: 0;
                padding: 0 1%;
                @include border-top-radius(5px);
            }
        }
    }
}