<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Friend</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control dummyNewName" placeholder="Name">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary dummyAdd">Add</button>
        <button type="button" class="btn btn-default dummyCancel" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->